.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top right, #1f8feb 10%, #0ccee7 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 4rem;
  color: #252525;
}

.container h2 {
  font-size: 3rem;
  margin: 2rem 0;
  color: #252525;
}

.buttons button {
  display: inline-block;
  padding: 13px 25px;
  margin: 0 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-size: 400;
  border-radius: 10px;
  cursor: pointer;
}

.buttons button:nth-child(1) {
  background-color: #00d700;
}

.buttons button:nth-child(2) {
  background-color: #252525;
}

.buttons button:nth-child(3) {
  background-color: #df1b1b;
}